<launch>
  <arg name="namespace" default="test_namespace" />

  <!-- launch our talker and listener node pair -->
  <include file="$(find beginner_tutorials)/launch/conversation.launch" >
    <arg name="bag" value="false" />
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <!-- actual test launch -->
  <test pkg="beginner_tutorials" test-name="beginner_tutorials_test" type="beginner_tutorials_test" ns="$(arg namespace)" />
</launch>